.examImg {
    height: 96vh;
    width: 100%;
    opacity: 0.3;
}

.logo {
    position: absolute;
    top: 30%;
    left: 50%;
}

.text {
    position: absolute;
    top: 50%;
    left: 49%;
    font-weight: 700;
}

.progressbar {
    position: absolute;
    top: 55%;
    left: 35%;
    width: 40%;
}