.block1{
    display: flex;
    flex-direction: column;
}


.heading_div{
    height: 6rem;
    margin-top: 3rem;
    background-color: #1e293b;
    width: 100%;
}

.heading{
    font-size: 2.0rem;
    color: #ffffff;
    margin-top: 1.5rem;
}

.card-body{
    margin-top: -1rem;
    border: 3rem solid #ffffff;
    border-radius: 1rem;
    width: 96%;
    float: left;
    margin-left: 2rem;
    margin-bottom: -20rem;
}

.table{
    box-shadow: 5px 10px 18px rgb(0 0 0 / 20%);
}

.card-box{
    display: none;
}

.login-button{
    opacity: 1;
    background: #1E293B;
    border-radius: 10px;
    color: white;
    height: 2rem;
    width: 6rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.getStarted {
    margin: 4%;
    background: #1E293B;
    border-radius: 10px;
    color: white;
    height: 3rem;
    width: 10rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    margin-left: 67rem;
}





@media (min-width: 414px) and (max-width: 819px) {
    /* Tablet layout */
    .block{
        overflow-y: scroll;
        height: 32rem;
    }

    .table-card{
        display: none;
    }

    .card-box{
        display: flex;
      flex-wrap: wrap;
    }
    .card-container {
      display: flex;
      flex-wrap: wrap;
      box-shadow: 5px 10px 18px rgb(0 0 0 / 20%);
       margin-top: 2rem;
       margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        border: 2px solid;
    }
    .card {
      width: 50%;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .card:nth-child(2n) {
      margin-right: 0;
    }

    .card-body{
        margin-top: -1rem;
        display: none;
    }

    .heading{
        font-size: 2.0rem;
        color: #ffffff;
        text-align: center;
        margin: auto;
        padding-top: 1.5rem;
    
    }

    .getStarted {
        margin: 4%;
        background: #1E293B;
        border-radius: 10px;
        color: white;
        height: 3rem;
        width: 10rem;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        margin-left: 14rem;
    }

    .mat-mdc-card {
        position: relative;
        border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
        background-color: var(--mdc-elevated-card-container-color, transparent);
        border-width: 0;
        border-style: solid;
        border-color: var(--mdc-elevated-card-container-color, transparent);
        margin: 1rem;
        box-shadow: 5px 10px 18px rgb(0 0 0 / 20%);
    }
  }


  @media (min-width: 820px) and (max-width: 1180px) {
    /* Tablet layout */
    .card-body{
        margin-top: -1rem;
        border: 3rem solid #ffffff;
        border-radius: 1rem;
        width: 96%;
        float: left;
        margin-left: 1rem;
        margin-bottom: -20rem;
    }

    .table-card{
        margin-left: -1rem;
    }

    .table td, .table th {
        padding: 1.5rem;
        font-size: .5rem;
    }

    .table{
        margin-left: -1.5rem;
    }

    .getStarted {
        margin: 4%;
        background: #1E293B;
        border-radius: 10px;
        color: white;
        height: 3rem;
        width: 10rem;
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
        margin-left: 34.5rem;
    }
    
  }  


  