<div class="block">
  <div class="content">
    <div class="welcome_text Corestrat_text">Contact Us</div>

    <div class="welcome_text" style="font-size: 1rem">
      <h4>We'd Love To Collaborate</h4>
      <div>
        Please let us know how we can help you grow. We look forward to hearing
        from you!
      </div>
    </div>
  </div>

  <div class="form">
    <form [formGroup]="contact">
      <div class="d-flex flex-column mb-2">
        <label class="label-name" for="name">Name: </label>
        <input class="input-box" id="name" type="text" formControlName="name" />
      </div>

      <div class="d-flex flex-column mb-2">
        <label class="label" for="password">Email: </label>
        <input
          class="input-box"
          id="email"
          type="email"
          formControlName="email"
        />
      </div>

      <div class="d-flex flex-column">
        <label class="label" for="password">Message: </label>
        <input class="input-box-msg" id="message" type="message" />
      </div>

      <div style="text-align: center !important">
        <button class="getStarted" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
