<div class="w-100">
  <div class="helpText">HELP & SUPPORT</div>
  <div class="block">
    <div class="card box" id="card-height">
      <div class="card-body">
        <div class="p-4 box_title">Product Licencing</div>
        <div class="p-4 box_text">
          <div class="b_text"><b>Activate or Renew Licence</b></div>
          Please let us know how we can help grow your business.
          <div>We look forward to hearing from you!</div>
        </div>
      </div>
    </div>

    <div class="card box innerBox" id="card-height">
      <div class="card-body">
        <div class="p-4 box_title1">Product Support</div>
        <div class="p-4 box_text1">
          Our SMS customer service platform im proves support options for your
          customers.
          <div>
            Send quick answers and seamless updates straight to their phones.
          </div>
        </div>
      </div>
    </div>

    <div class="card box" id="card-height">
      <div class="card-body">
        <div class="p-4 box_title">Contact Us</div>
        <div class="p-4 box_text">
          <div><b>We'd Love To Collaborate</b></div>
          Please let us know how we can help grow your business.
          <div>We look forward to hearing from you!</div>
          <div>support@corestrat.ai</div>
        </div>
      </div>
    </div>
  </div>
</div>
