.helpText {
    text-align: center;
    height: 4vh;
    font-size: 2rem;
    font-weight: 700;
    color: #1e293b;
    display: flex;
    margin-left: 4rem;
    margin-top: 2rem;
}

.body-help{
    height: 35rem;
}

.block{
    margin-top: 4rem;
}

.box{
    width: 25rem;
    height: 50vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.innerBox{    
    background-color: #1e293b;
}

.box_title {
    color: #1e293b;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.box_text {
    color: #1e293b;
    font-size: 1rem;
    text-align: center;
}

.box_title1 {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.box_text1 {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

.block{
    display: flex;
    justify-content: space-around;

}

@media(max-width:480px){

    .helpText {
        text-align: center;
        height: 4vh;
        font-size: 1.2rem;
        font-weight: 700;
        color: #1e293b;
        display: flex;
        margin-bottom: -5rem;
    }

    .block{
        display: flex;
        flex-direction: column;
    }

    .body-help{
        overflow: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 33rem;
    }

    .box{
        margin: 2rem;
        margin-right: 2rem;
    }
}

@media (min-width: 0px) and (max-width: 480px){
    
    .box{
        width: 22rem;
        height: 20rem
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .block{
        display: flex;
        flex-direction: column;
    }
    .box{
        margin: 2rem;
        margin-right: 2rem;
    }

    #card-height{
        
        height: 20rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .block{
        display: flex;
        flex-direction: row;
    }
    .box{
        margin: 2rem;
        margin-right: 2rem;
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .block{
        display: flex;
        flex-direction: row;
    }
    .box{
        margin: 2rem;
        margin-right: 2rem;
    }
}


