<div class="block">
    <div class="card box">
    
    <div class="card-body">
        <h5 class="card-title title">Admin Login</h5>
        
            <div style="text-align: left;margin: 10%;">
                <div class="m-2">
                    <label for="name">Name: </label>
                </div>
                <div class="m-2">
                    <input class="input-box" id="name" type="text" formControlName="name">
                </div>
                <div class="m-2">
                    <label for="password">Password: </label>
                </div>
                <div class="m-2">
                    <input class="input-box" id="password" type="text" formControlName="password">
                </div>
                <div style="text-align: center !important;">
                    <button class="login-button" type="submit">Submit</button>
                </div>
            </div>
        
    </div>
    </div>
</div>
