<div class="w-100 block">
  <div class="heading_div">
    <p class="heading">Setting</p>
  </div>

  <div class="card-body">
    <div>
      <p style="font-size: 1.1rem; font-weight: 700">
        Criteria for Selection/rejection
      </p>
      <form [formGroup]="settings">
        <div class="d-flex flex-column">
          <label class="label-name" for="name">No. of tabs threshold: </label>
          <input
            class="input-box"
            id="name"
            type="text"
            formControlName="name"
          />
        </div>
        <div class="d-flex flex-column next-value">
          <label class="label-name" for="name">Admin Mail Id: </label>
          <input
            class="input-box"
            id="name"
            type="text"
            formControlName="name"
          />
        </div>
      </form>
    </div>

    <div class="next-div">
      <p style="font-size: 1.1rem; font-weight: 700">Selection Mail</p>
      <form [formGroup]="settingsselection">
        <div class="d-flex flex-column">
          <label class="label-name" for="name">Subject: </label>
          <input
            class="input-box"
            id="name"
            type="text"
            formControlName="name"
          />
        </div>
        <div class="d-flex flex-column next-value">
          <label class="label-name" for="name">Body: </label>
          <input
            class="input-box1"
            id="name"
            type="text"
            formControlName="name"
          />
        </div>
      </form>
    </div>

    <div class="next-div">
      <p style="font-size: 1.1rem; font-weight: 700">Rejection Mail</p>
      <form [formGroup]="settingsrejection">
        <div class="d-flex flex-column">
          <label class="label-name" for="name">Subject: </label>
          <input
            class="input-box"
            id="name"
            type="text"
            formControlName="name"
          />
        </div>
        <div class="d-flex flex-column next-value">
          <label class="label-name" for="name">Body: </label>
          <input
            class="input-box1"
            id="name"
            type="text"
            formControlName="name"
          />
        </div>
      </form>
    </div>
  </div>

  <div style="text-align: center !important">
    <button class="getStarted" type="submit">Submit</button>
  </div>
</div>
