<div class="w-100 block">
  <div class="heading_div">
    <p class="heading">Dashboard</p>
  </div>
</div>

<div class="card-body">
  <div class="in-card-1 d-flex">
    <div class="content">
      <span class="welcome">Welcome Back,</span>
      <span class="name">Somya</span>
    </div>
    <div class="image">
      <img src="./../../assets/dashboard.png" />
    </div>

    <div class="calendar">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
    </div>
  </div>

  <!-- <div class="in-card-2">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
  </div> -->
</div>
