<div class="w-100 block">
  <div class="heading_div">
    <p class="heading">Terms and Conditions</p>
  </div>

  <div class="card-body">
    <p class="card-title1">Read the following carefully</p>
    <p class="card-title2">
      To start the test, you must accept the terms of CORESTRAT online
      examination
    </p>

    <div class="instruction_block">
      <div class="instruction">
        <h5>SUPPLEMENTAL END USER AGREEMENT FOR CORESTRAT EXAMINATION</h5>
        Fill up your personal details carefully. <br />

        All questions are compulsory.<br />

        Try to submit the paper in 40-45 minutes.<br />

        You are allowed to submit only once, make sure that you have correctly
        attempted all the questions before submission.<br />

        Make sure you clicked on submit button to successfully complete the
        test.<br />

        You are not allowed to open any tab or switch of the video. <br />
      </div>

      <div class="checkbox">
        <div>
          <mat-checkbox
            class="example-margin"
            [color]="'primary'"
            [(ngModel)]="terms"
            (ngModelChange)="updateConditions()"
            >I agree to all the terms and conditions</mat-checkbox
          >
        </div>
        <div>
          <mat-checkbox
            class="example-margin"
            [color]="'primary'"
            [(ngModel)]="video"
            (ngModelChange)="updateConditions()"
            >Turn on the video</mat-checkbox
          >
        </div>
      </div>
    </div>

    <div>
      <button
        class="button button_save"
        [disabled]="buttonDisabled"
        (click)="startExam()"
      >
        Start
      </button>
    </div>
  </div>
</div>
