<div class="w-100 block">
  <div class="text_top">
    <div class="welcome_text">Welcome To</div>
    <div class="welcome_text Corestrat_text">CORESTRAT</div>
    <div class="welcome_text">Online Examination</div>
    <div class="welcome_text content">
      Corestrat exam is a type of virtual exam undertaken on a computer device
      (desktop, laptop) using the internet.
    </div>
    <div style="text-align: center">
      <button class="getStarted">
        <a
          style="text-decoration: none; color: white"
          routerLink="/student-login"
          >Get Started!
        </a>
      </button>
    </div>
  </div>

  <div class="image">
    <img src="./../../assets/examcircle.png" class="exam_img" />
  </div>
</div>
